$break-small: 415px;
$break-large: 1200px;
.containerSkills
  display: grid
  width: 100%
  grid-template-columns: repeat(2,1fr)
  justify-content: space-around
  grid-gap: 10px
  @media screen and (min-width: $break-small)
    grid-template-columns: repeat(3,1fr)

