$break-small: 415px;
$break-large: 1200px;
h4
  background-color: #24292e
  color: #fff
  padding: 10px
  box-sizing: content-box
.containerSkills
  display: grid
  width: 100%
  grid-template-columns: repeat(2,1fr)
  justify-content: space-around
  grid-gap: 10px
  @media screen and (min-width: $break-small)
    grid-template-columns: repeat(3,1fr)

