#ficha
  border: 1px solid black
  display: flex
  justify-content: space-around
  padding-top: 10px

  li
    list-style: none

  #photoFicha
    width: 100px
    img
      width: 100%
      height: 78px
    ul
      width: 100%
      display: flex
      justify-content: space-around
      margin: 0
      padding: 0
  #descripcionFicha
    ul
      margin: 0
      padding: 0


