<div id="containerCurriculum">
  <div id="right">
    <div id="containerFicha">
      <crm-ficha-presentacion></crm-ficha-presentacion>
    </div>
    <div id="containerCursosFormacion">
        <crm-cursos-formacion></crm-cursos-formacion>
    </div>
  </div>
  <div id="separacion"></div>
  <div id="left">
    <div id="containerExperienciaLaboral">
      <crm-experiencia-laboral></crm-experiencia-laboral>
    </div>
    <div id="containerHabilidades">
        <crm-habilidades></crm-habilidades>
    </div>
  </div>
</div>
